extends layout/template


mixin schedule(color, time, title, trainer)
	if (color || time || title || trainer)
		.schedule__item
			.schedule__item-inner(class= color ? 'schedule__item-inner_' + color : '')
				if (time)
					.schedule__item-time!= time
				if (title)
					.schedule__item-title!= title
				if (trainer)
					.schedule__item-trainer!= trainer
	else
		.schedule__item.schedule__item_clean
			.schedule__item-inner


block vars
	- var pageName = "CROSSFIT";
	- var pageTitle = "CrossFit";
	- var pageDescription = "CrossFit";
	- var pageImage = "/img.jpg";

block head

block content
	#screenWelcome
		.section.section_welcome
			.inner
				.welcome.js-height-100
					.welcome__logo
					.welcome__text
						.welcome__text-subtitle МОЩНЫЙ
						.welcome__text-title CROSS#[span training]
						.welcome__text-posttitle В ЕВРОФИТНЕС
					.welcome__btn: .btn(data-popup-open='#popupSubscribe'): span ЗАПИШИСЬ В ГРУППУ

	#screenStaff
		.section.section_staff
			.staff
				.inner
					.section__title НАША КОМАНДА

					.staff__list
						.staff__item
							.staff__item-inner
								a(href='#', data-popup-open='#popapStaff_1').staff__item-image: img(src='../img/temp/cf-trainer_01.jpg', alt='ПАВЕЛ СКОРНЯКОВ')
								.staff__item-name(data-popup-open='#popapStaff_1'): span ПАВЕЛ#[br]СКОРНЯКОВ
								.staff__item-text
									ul
										li Сертифицированный тренер CF LVL-1
										li Главный тренер EF CrossFit

						.staff__item
							.staff__item-inner
								a(href='#', data-popup-open='#popapStaff_1').staff__item-image: img(src='../img/temp/cf-trainer_02.jpg', alt='МАРИЯ КУХАРЕВА')
								.staff__item-name(data-popup-open='#popapStaff_1'): span МАРИЯ#[br]КУХАРЕВА
								.staff__item-text
									ul
										li Сертифицированный тренер CF LVL-1
										li Тренер EF CrossFit

						.staff__item
							.staff__item-inner
								a(href='#', data-popup-open='#popapStaff_1').staff__item-image: img(src='../img/temp/cf-trainer_03.jpg', alt='ВЯЧЕСЛАВ РОХМАНКО')
								.staff__item-name(data-popup-open='#popapStaff_1'): span ВЯЧЕСЛАВ#[br]РОХМАНКО
								.staff__item-text
									ul
										li Тренер EF CrossFit

						.staff__item
							.staff__item-inner
								a(href='#', data-popup-open='#popapStaff_1').staff__item-image: img(src='../img/temp/cf-trainer_04.jpg', alt='ПАВЕЛ ЗАИКИН')
								.staff__item-name(data-popup-open='#popapStaff_1'): span ПАВЕЛ#[br]ЗАИКИН
								.staff__item-text
									ul
										li Тренер EF CrossFit
										li МСМК по тяжёлой атлетике

					.slider-control
						.slider-control__arrow.slider-control__arrow_prev
						.slider-control__count
						.slider-control__dots
						.slider-control__arrow.slider-control__arrow_next


		.section.section_subscribe_1
			.subscribe
				.inner.clearfix
					.section__title УБОЙНАЯ ТРЕНИРОВКА ОТ НАШИХ ТРЕНЕРОВ #[span БЕСПЛАТНО]

					form.subscribe__form.form(action='/', method='post')
						.form__group
							.form__field.form__field_l
								.form__input
									input(type='text', name='subscribeName', placeholder='ВАШЕ ИМЯ')
								.form__message

							.form__field.form__field_r
								.form__input
									input(type='tel', name='subscribePhone', placeholder='ТЕЛЕФОН')
								.form__message

						.form__group
							.form__field.form__field_r
								.form__text Заполни форму, и жми «Записаться», мы перезвоним в течении часа.

							.form__field.form__field_l
								.form__input.form__input_submit
									button(type='submit').btn: span ЗАПИСАТЬСЯ


	#screenWhat
		.section.section_what

			.what
				.inner
					.section__title ЧТО ТАКОЕ #[span CROSSFIT?]
					.section__subtitle Кроссфит (Crossfit) - Это тренировка, состоящая из постоянно меняющихся функциональных упражнений высокой интенсивности, которая позволит улучшить форму в кротчайшее время, увеличить силовые показатели, повысит выносливость, избавит от лишнего веса.

					.what__list
						.what__item
							.what__item-val 10 650
							.what__item-text ЧЕЛОВЕК ТРЕНИРУЮТСЯ В ТЕЧЕНИИ ГОДА В НАШИХ ЗАЛАХ
						.what__item
							.what__item-val 15
							.what__item-text СОРЕВНОВАНИЙ ПО КРОССФИТ ПРОВЕЛ ЕВРОФИТНЕС
						.what__item
							.what__item-val 2
							.what__item-text АФФИЛИРОВАННЫХ ЗАЛА В САНКТ-ПЕТЕРБУРГЕ
						.what__item
							.what__item-val 25
							.what__item-text РАЗЛИЧНЫХ ТРЕНАЖЕРОВ ДЛЯ ЗАНЯТИЙ В НАШИХ ЗАЛАХ
	#screenGallery
		.section.section_gallery
			.gallery-out
				.inner
					.section__title ФОТОГАЛЕРЕЯ #[span ЕВРОФИТНЕС]

				.tabs
					.tabs__menu
						.inner
							.tabs__menu-item.is-active(data-tab-link='gallery_1', data-tab-group='gallery'): span СОРЕВНОВАНИЯ
							.tabs__menu-item(data-tab-link='gallery_2', data-tab-group='gallery'): span ТРЕНИРОВКИ В КЛУБЕ
							.tabs__menu-item(data-tab-link='gallery_3', data-tab-group='gallery'): span 2017
							.tabs__menu-item(data-tab-link='gallery_4', data-tab-group='gallery'): span 2016


				.gallery(data-tab-target='gallery_1', data-tab-group='gallery').is-active
					.inner
						.gallery__list
							.gallery__item: .gallery__item-inner: .gallery__item-link.obj-fit: img(data-original='../img/temp/photo_01.jpg', src='../img/temp/photo_01.jpg')
							.gallery__item: .gallery__item-inner: .gallery__item-link.obj-fit: img(data-original='../img/temp/trainer_gallery_01.jpg', src='../img/temp/trainer_gallery_01.jpg')
							.gallery__item: .gallery__item-inner: .gallery__item-link.obj-fit: img(data-original='../img/temp/trainer_gallery_02.jpg', src='../img/temp/trainer_gallery_02.jpg')
							.gallery__item: .gallery__item-inner: .gallery__item-link.obj-fit: img(data-original='../img/temp/photo_01.jpg', src='../img/temp/photo_01.jpg')
							.gallery__item: .gallery__item-inner: .gallery__item-link.obj-fit: img(data-original='../img/temp/trainer_gallery_01.jpg', src='../img/temp/trainer_gallery_01.jpg')
							.gallery__item: .gallery__item-inner: .gallery__item-link.obj-fit: img(data-original='../img/temp/trainer_gallery_02.jpg', src='../img/temp/trainer_gallery_02.jpg')

						.slider-control
							.slider-control__arrow.slider-control__arrow_prev
							.slider-control__count
							.slider-control__arrow.slider-control__arrow_next

						.slider-control__dots


				.gallery(data-tab-target='gallery_2', data-tab-group='gallery')
					.inner
						.gallery__list
							.gallery__item: .gallery__item-inner: .gallery__item-link.obj-fit: img(data-original='../img/temp/photo_01.jpg', src='../img/temp/photo_01.jpg')
							.gallery__item: .gallery__item-inner: .gallery__item-link.obj-fit: img(data-original='../img/temp/photo_01.jpg', src='../img/temp/photo_01.jpg')
							.gallery__item: .gallery__item-inner: .gallery__item-link.obj-fit: img(data-original='../img/temp/photo_01.jpg', src='../img/temp/photo_01.jpg')
							.gallery__item: .gallery__item-inner: .gallery__item-link.obj-fit: img(data-original='../img/temp/photo_01.jpg', src='../img/temp/photo_01.jpg')
							.gallery__item: .gallery__item-inner: .gallery__item-link.obj-fit: img(data-original='../img/temp/photo_01.jpg', src='../img/temp/photo_01.jpg')

						.slider-control
							.slider-control__arrow.slider-control__arrow_prev
							.slider-control__count
							.slider-control__arrow.slider-control__arrow_next
						.slider-control__dots

				.gallery(data-tab-target='gallery_3', data-tab-group='gallery')
					.inner
						.gallery__list
							.gallery__item: .gallery__item-inner: .gallery__item-link.obj-fit: img(data-original='../img/temp/photo_01.jpg', src='../img/temp/photo_01.jpg')
							.gallery__item: .gallery__item-inner: .gallery__item-link.obj-fit: img(data-original='../img/temp/photo_01.jpg', src='../img/temp/photo_01.jpg')
							.gallery__item: .gallery__item-inner: .gallery__item-link.obj-fit: img(data-original='../img/temp/photo_01.jpg', src='../img/temp/photo_01.jpg')
							.gallery__item: .gallery__item-inner: .gallery__item-link.obj-fit: img(data-original='../img/temp/photo_01.jpg', src='../img/temp/photo_01.jpg')
							.gallery__item: .gallery__item-inner: .gallery__item-link.obj-fit: img(data-original='../img/temp/photo_01.jpg', src='../img/temp/photo_01.jpg')
							.gallery__item: .gallery__item-inner: .gallery__item-link.obj-fit: img(data-original='../img/temp/photo_01.jpg', src='../img/temp/photo_01.jpg')
							.gallery__item: .gallery__item-inner: .gallery__item-link.obj-fit: img(data-original='../img/temp/photo_01.jpg', src='../img/temp/photo_01.jpg')
							.gallery__item: .gallery__item-inner: .gallery__item-link.obj-fit: img(data-original='../img/temp/photo_01.jpg', src='../img/temp/photo_01.jpg')

						.slider-control
							.slider-control__arrow.slider-control__arrow_prev
							.slider-control__count
							.slider-control__arrow.slider-control__arrow_next
						.slider-control__dots

				.gallery(data-tab-target='gallery_4', data-tab-group='gallery')
					.inner
						.gallery__list
							.gallery__item: .gallery__item-inner: .gallery__item-link.obj-fit: img(data-original='../img/temp/photo_01.jpg', src='../img/temp/photo_01.jpg')
							.gallery__item: .gallery__item-inner: .gallery__item-link.obj-fit: img(data-original='../img/temp/photo_01.jpg', src='../img/temp/photo_01.jpg')
							.gallery__item: .gallery__item-inner: .gallery__item-link.obj-fit: img(data-original='../img/temp/photo_01.jpg', src='../img/temp/photo_01.jpg')

						.slider-control
							.slider-control__arrow.slider-control__arrow_prev
							.slider-control__count
							.slider-control__arrow.slider-control__arrow_next
						.slider-control__dots
	#screenMethod
		.section.section_method
			.inner
				.section__title НАША МЕТОДИКА
				.section__subtitle или как ты станешь выносливее и&nbsp;придешь в&nbsp;форму за&nbsp;2&nbsp;недели интенсивных тренировок

			.method
				.inner
					.method__devide 4#[br]Ч#[br]А#[br]С#[br]Т#[br]И

					.method__count

					.method__list
						.method__item.method__item_1
							.method__item-step 1
							.method__item-image: img(src='../img/crossfit/method_1.svg')
							.method__item-title ДИНАМИЧЕСКАЯ РАЗМИНКА
							.method__item-text Прыжки, прыжки со скакалкой, приседания, отжимания, подтягивания, шаги выпадами
						.method__item.method__item_2
							.method__item-step 2
							.method__item-image: img(src='../img/crossfit/method_2.svg')
							.method__item-title НАВЫКИ/СИЛОВАЯ ТРЕНИРОВКА
							.method__item-text Если это день силовых тренировок, то отрабатываются только силовые упражнения (такие как: приседания или становая тяга)
						.method__item.method__item_3
							.method__item-step 3
							.method__item-image: img(src='../img/crossfit/method_3.svg')
							.method__item-title ТРЕНИРОВКА ДНЯ (WOD)
							.method__item-text Необходимо выполнить определенное количество повторов специально отведенных упражнений как можно быстрее.
						.method__item.method__item_4
							.method__item-step 4
							.method__item-image: img(src='../img/crossfit/method_4.svg')
							.method__item-title ЗАМИНКА И РАСТЯЖКА
							.method__item-text В группе, или самостоятельно вам необходимо будет выполнить растяжку.

	#screenWho
		.section.section_who
			.who
				.inner
					.section__title ДЛЯ КОГО ПОДОЙДЕТ CROSSFIT?
					.who__list
						.who__item
							.who__item-image.obj-fit: img(src='../img/crossfit/who_1.jpg')
							.who__item-info
								.who__item-title ДЛЯ НОВИЧКА
								.who__item-text Если вы до этого никогда не тренировались, Кроссфит - это отличный способ, чтобы начать тренировки и повысить свой уровень физической подготовки. #[span.more Под контролем тренера Вы изучите основы техники выполнения основных упражнений со свободными весами и собственным весом.]
								.who__item-more
						.who__item
							.who__item-image.obj-fit: img(src='../img/crossfit/who_2.jpg')
							.who__item-info
								.who__item-title ДЛЯ ЗАНИМАЮЩЕГОСЯ
								.who__item-text Если вы опытный атлет, который регулярно посещает тренажерный зал, но Вам надоели однообразные изолированные упражнения и Вы хотите разнообразить свои тренировки. #[span.more Тренировки Кроссфит - функциональны и заставляют работать всё тело, что приводит к заметным результатам намного быстрее стандартных программ]
								.who__item-more
						.who__item
							.who__item-image.obj-fit: img(src='../img/crossfit/who_3.jpg')
							.who__item-info
								.who__item-title ДЛЯ СПОРТСМЕНА
								.who__item-text Кроссфит поможет повысить уровень общей физической и функциональной подготовки в различных видах спорта. #[span.more Кроссфит - это программа тренировки, которая позволит сделать вас сильнее и выносливее в независимости от уровня подготовки]
								.who__item-more

					.slider-control
						.slider-control__arrow.slider-control__arrow_prev
						.slider-control__count
						.slider-control__arrow.slider-control__arrow_next

	#screenMember
		.section.section_member
			.member
				.inner
					.section__title наши абонементы

					.member__list
						.member__item
							.member__item-inner
								.member__item-image: img(src='../img/crossfit/member_8.png')
								.member__item-title Абонемент на 8 тренировок
								.member__item-text
									ul
										li Посещение в часы грпповых тренировок
										li Посещение в течении срока основного абонемента
								.member__item-btn
									.btn(data-popup-open='#popupMember1'): span УЗНАТЬ СТОИМОСТЬ

						.member__item
							.member__item-inner
								.member__item-image: img(src='../img/crossfit/member_12.png')
								.member__item-title Абонемент на 12 тренировок
								.member__item-text
									ul
										li Посещение в часы грпповых тренировок
										li Посещение в течении срока основного абонемента
								.member__item-btn
									.btn(data-popup-open='#popupMember1'): span УЗНАТЬ СТОИМОСТЬ

						.member__item
							.member__item-inner
								.member__item-image: img(src='../img/crossfit/member_1m.png')
								.member__item-title Абонемент на 1 месяц
								.member__item-text
									ul
										li Посещение в часы грпповых тренировок
										li Посещение в течении срока основного абонемента
								.member__item-btn
									.btn(data-popup-open='#popupMember1'): span УЗНАТЬ СТОИМОСТЬ

						.member__item
							.member__item-inner
								.member__item-image: img(src='../img/crossfit/member_3m.png')
								.member__item-title Абонемент на 3 месяца
								.member__item-text
									ul
										li Посещение в часы грпповых тренировок
										li Посещение в течении срока основного абонемента
										li Возможность заморозить абонемент на 14 дней
								.member__item-btn
									.btn(data-popup-open='#popupMember1'): span УЗНАТЬ СТОИМОСТЬ


					.slider-control
						.slider-control__arrow.slider-control__arrow_prev
						.slider-control__count
						.slider-control__arrow.slider-control__arrow_next


		.section.section_subscribe_2
			.subscribe
				.inner.clearfix

					.section__title готов заниматься? #[br] #[span заполни форму]

					form.subscribe__form.form(action='/', method='post')
						.form__group
							.form__field.form__field_l
								.form__input
									input(type='text', name='subscribeName', placeholder='ВАШЕ ИМЯ')
								.form__message

							.form__field.form__field_r
								.form__input
									input(type='tel', name='subscribePhone', placeholder='ТЕЛЕФОН')
								.form__message

						.form__group
							.form__field.form__field_r
								.form__text Заполни форму, и жми «Записаться», мы перезвоним в течении часа.

							.form__field.form__field_l
								.form__input.form__input_submit
									button(type='submit').btn: span ЗАПИСАТЬСЯ
	#screenSchedule
		.section.section_schedule
			.inner
				.section__title РАСПИСАНИЕ CROSSFIT

			.schedule
				.inner
					.schedule__period
						.schedule__period-time: span 9:00
						.schedule__period-time: span 11:00
						.schedule__period-time: span 12:00
						.schedule__period-time.schedule__period-time_2: span 13:00
						.schedule__period-time: span 14:00
						.schedule__period-time: span 16:00
						.schedule__period-time: span 18:00
						.schedule__period-time: span 19:00
						.schedule__period-time: span 20:00
						.schedule__period-time.schedule__period-time_2: span 21:00
					.schedule__control
						.slider-control
							.slider-control__arrow.slider-control__arrow_prev
							.slider-control__arrow.slider-control__arrow_next
					.schedule__list
						.schedule__column
							.schedule__day ПОНЕДЕЛЬНИК
							+schedule()
							+schedule()
							+schedule()
							+schedule()
							+schedule()
							+schedule()
							+schedule(false, '16:00-17:00', 'Crossfit', 'Скорняков П.')
							+schedule()
							+schedule(false, '19:00-20:00', 'Crossfit', 'Скорняков П.')
							+schedule(false, '20:00-21:00', 'Crossfit', 'Скорняков П.')
							+schedule()
							+schedule()

						.schedule__column
							.schedule__day ВТОРНИК
							+schedule(false, '9:00-10:00', 'Crossfit', 'Скорняков П.')
							+schedule()
							+schedule()
							+schedule()
							+schedule()
							+schedule()
							+schedule()
							+schedule()
							+schedule(false, '19:00-20:00', 'Crossfit', 'Скорняков П.')
							+schedule(false, '20:00-21:00', 'Crossfit', 'Скорняков П.')
							+schedule('red', '21:00-22:00', 'Crossfit ON RAMP', 'Скорняков П.')
							+schedule()

						.schedule__column
							.schedule__day СРЕДА
							+schedule()
							+schedule()
							+schedule()
							+schedule()
							+schedule()
							+schedule()
							+schedule(false, '16:00-17:00', 'Crossfit', 'Скорняков П.')
							+schedule()
							+schedule(false, '19:00-20:00', 'Crossfit', 'Скорняков П.')
							+schedule(false, '20:00-21:00', 'Crossfit', 'Скорняков П.')
							+schedule('red', '21:00-22:00', 'Crossfit ON RAMP', 'Скорняков П.')
							+schedule('yellow', '21:00-22:00', 'Растяжка', 'Скорняков П.')

						.schedule__column
							.schedule__day ЧЕТВЕРГ
							+schedule(false, '9:00-10:00', 'Crossfit', 'Скорняков П.')
							+schedule()
							+schedule()
							+schedule()
							+schedule()
							+schedule()
							+schedule()
							+schedule()
							+schedule(false, '19:00-20:00', 'Crossfit', 'Скорняков П.')
							+schedule(false, '20:00-21:00', 'Crossfit', 'Скорняков П.')
							+schedule('red', '21:00-22:00', 'Crossfit ON RAMP', 'Скорняков П.')
							+schedule()

						.schedule__column
							.schedule__day ПЯТНИЦА
							+schedule()
							+schedule()
							+schedule()
							+schedule()
							+schedule()
							+schedule()
							+schedule(false, '16:00-17:00', 'Crossfit', 'Скорняков П.')
							+schedule('blue', '18:00-19:00', 'Гимнастика', 'Скорняков П.')
							+schedule(false, '19:00-20:00', 'Crossfit', 'Скорняков П.')
							+schedule(false, '20:00-21:00', 'Crossfit', 'Скорняков П.')
							+schedule()
							+schedule()

						.schedule__column
							.schedule__day СУББОТА
							+schedule()
							+schedule()
							+schedule()
							+schedule()
							+schedule()
							+schedule()
							+schedule()
							+schedule()
							+schedule()
							+schedule()
							+schedule()
							+schedule()

						.schedule__column
							.schedule__day ВОСКРЕСЕНЬЕ
							+schedule()
							+schedule(false, '19:00-20:00', 'Crossfit', 'Скорняков П.')
							+schedule(false, '20:00-21:00', 'Crossfit', 'Скорняков П.')
							+schedule('red', '21:00-22:00', 'Crossfit ON RAMP', 'Скорняков П.')
							+schedule('yellow', '21:00-22:00', 'Растяжка', 'Скорняков П.')
							+schedule('red', '21:00-22:00', 'Crossfit ON RAMP', 'Скорняков П.')
							+schedule()
							+schedule()
							+schedule()
							+schedule()
							+schedule()
							+schedule()



block append