


@import "scss/var";
@import "scss/mixins";
@import "scss/font";
@import "scss/print";
@import "scss/normalize";
@import "scss/popup";




@import "../../node_modules/slick-carousel/slick/slick.scss";
@import "module/viewer.scss";


@import "scss/form";

.viewer-list > li{
	width: 50px;
}

.viewer{
	&-zoom-in::before,
	&-zoom-out::before,
	&-one-to-one::before,
	&-reset::before,
	&-prev::before,
	&-play::before,
	&-next::before,
	&-rotate-left::before,
	&-rotate-right::before,
	&-flip-horizontal::before,
	&-flip-vertical::before,
	&-fullscreen::before,
	&-fullscreen-exit::before,
	&-close::before {
		background-image: none;
	}

	&-canvas{
		.slider-control{
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			margin: 0 auto;


			&__close{
				position: fixed;
				top: 0;
				right: 0;

				height: $headerHeightMobile;
				width: $headerHeightMobile;
				cursor: pointer;

				z-index: 2;

				@include breakPoint($breakPointCompact){
					height: $headerHeightDesktop;
					width: $headerHeightDesktop;
				}

				&:before{
					content: '';
					width: 157px;
					height: 197px;
					@include backgroundSprite(144, 336, $sprite);
					position: absolute;
					top: -5px;
					left: 0;
					pointer-events: none;

					@include breakPoint($breakPointCompact){
						width: 87px;
						height: 109px;
						background-position: -1029px -392px;
					}
				}

				&:after{
					content: '';
					width: 57px;
					height: 57px;
					@include backgroundSprite(57, 525, $sprite);
					position: absolute;
					top: 35px;
					left: 46px;
					pointer-events: none;

					@include breakPoint($breakPointCompact){
						width: 45px;
						height: 45px;
						top: 12px;
						left: 16px;
						background-position: -114px -537px;
					}
				}
			}

			&__arrow{
				top: 50%;
				margin-top: -35px;
				position: fixed;

				@include breakPoint($breakPointCompact){
					margin-top: -22px;
				}

				&_prev{
					left: 10px;

					@include breakPoint($breakPointCompact){

					}
				}

				&_next{
					right: 10px;

					@include breakPoint($breakPointCompact){

					}
				}
			}
		}
	}

	&-container{
		background: $colorBlackCF;
	}

	&-frame{
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;

		&:before{
			content: '';
			position: absolute;
			top: -5px;
			right: -5px;
			left: -5px;
			bottom: -5px;
			display: block;
			background: url("../img/crossfit/image-frame.png") no-repeat 50% 50%;
			background-size: 100% 100%;
		}
	}
}

.is-blur,
.viewer-open{
	filter: blur(5px);
}


.viewer-toolbar{
	position: absolute;
	top: 0;
}

.btn{
	cursor: pointer;

	span{
		pointer-events: none;
	}
}


@import "scss/cf";


[data-tab-target]{
	display: none;

	&.is-active{
		display: block;
	}
}

.is-more-hidden{
	display: none;
}

.obj-fit{

	img{
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	.object-fit &{
		img{
			opacity: 0;
		}
	}
}


.is-hidden{
	display: none!important;
}