mixin scheduleItem(colors, time, place, title, trainer, cost)
	if (colors === false)
		.schedule__item.schedule__item_clean
			.schedule__item-inner
	else
		.schedule__item
			.schedule__item-inner
				.schedule__item-color
					each color, i in colors
						.color(style='color: ' + color +';', class= colors.length > 1 ? 'color_' + colors.length : '')
				if (time)
					.schedule__item-time!= time
				if (place)
					.schedule__item-place!= place
				if (title)
					.schedule__item-title!= title
				if (cost)
					.schedule__item-cost: i.ico-rub
				if (trainer)
					.schedule__item-trainer!= trainer


mixin specificityItem(title, image, label)
	.specificity__item
		.specificity__item-inner
			if (label)
				if (label == 'rub')
					.specificity__item-label.bg-red: i.ico-rub
				else
					.specificity__item-label!= label
			.specificity__item-image
				if ( image )
					img(src='image', alt= title)
			.specificity__item-text: span!= title

mixin trainersItem(photo, name, text, icons, dataIinterest, dataDirection, dataType, hidden)
	.trainers__item(data-filter= "{'interest': ["+dataIinterest+"], 'direction':["+dataDirection+"],'type':["+dataType+"]}", class= hidden ? 'is-hidden' : '')
		.trainers__item-inner
			.trainers__item-image
				if ( photo )
					a(href='#'): img(src='../img/temp/trainer_'+photo+'.jpg', alt= name)
			.trainers__item-icons
				each icon, i in icons
					.icon: img(src='../img/ico/ico_trainer_'+icon+'.svg', alt='')
			.trainers__item-name: a(href='#')= name
			.trainers__item-text!= text


mixin servicesItem(num, ico, text)
	.services__item
		.services__item-inner
			.services__item-num= num
			.services__item-icon: img(src='../img/ico/ico_service_'+ico+'.svg', alt='')
			.services__item-info= text


mixin achievementsItem(ico, title, text)
	.achievements__item
		.achievements__item-inner
			.achievements__item-ico: img(src='../img/ico/ico_achievements_' + ico + '.svg', alt= title)
			.achievements__item-title!= title
			.achievements__item-text!= text


mixin educationItem(date, school, title, hidden)
	.education-item(class= hidden ? 'is-more-hidden' : '')
		ul: li!= title
		p.education-place
			span.education-date= date
			span.education-school!= school

mixin announceItem(img, title, text, date, action, label, labelOnTop)
	.announce__item(class= img ? '' : 'announce__item_noimg')
		.announce__item-inner
			if(img)
				.announce__item-image
					a(href='#')
						img(src='../img/temp/action_' + img + '.jpg', alt= title)
					if ( labelOnTop )
						.announce__item-label
							.label(class= label == 'АКЦИИ НА НАУКИ' ? 'label_red' : 'label_blue')= label
			.announce__item-info
				if ( date )
					.announce__item-date= date
				.announce__item-description
					.announce__item-title(class= label && !labelOnTop ? 'c-red' : ''): a(href='#')!= title
					if (text)
						.announce__item-text!= text
				if ( action )
					.announce__item-footer
						.announce__item-action
							.announce__item-action-title Срок действия до
							.announce__item-action-value= action
						.announce__item-more: a(href='#').btn ПОДРОБНЕЕ
				if ( labelOnTop )
					.announce__item-more: a(href='#').btn ПОДРОБНЕЕ
				if ( label && !labelOnTop )
					.announce__item-label
						a.label(href='#', class= label=='НОВОСТИ' ? 'label_red' : 'label_blue')= label

mixin eventsItem(img, category, title, date)
	.events__item
		.events__item-inner
			if(img)
				.events__item-image
					a(href='#')
						img(src='../img/temp/action_' + img + '.jpg', alt= title)
					if ( date )
						.events__item-date: span= date
			else
				if ( date )
					.events__item-date: span= date
			.events__item-info
				.events__item-category!= category
				.events__item-title: a(href='#')!= title


mixin memberItem(img, title, list, action, timer)
	.member__item(class= action ? 'member__item_action' : '')
		.member__item-inner
			.member__item-image
				img(src='../img/temp/member_' + img + '.jpg', alt= title)
			.member__item-title= title
			.member__item-info
				ul
					each val, i in list
						if ( i == list.length - 1)
							li.note= val
						else
							li= val

			if (timer)
				.member__item-timer
					.member__item-timer-watch
						// !комментарий для бэкенд разработчика:  data-counter-time - общее оставшеемя время в секундах
						.timer(data-counter-time= timer)
							.timer__item.timer__item_title
								.timer__title До конца#[br]акции#[br]осталось
							.timer__item.timer__item_day
								.timer__value 00
								.timer__name дней
							.timer__item.timer__item_hour
								.timer__value 00
								.timer__name часов
							.timer__item.timer__item_min
								.timer__value 00
								.timer__name минут
							.timer__item.timer__item_sec
								.timer__value 00
								.timer__name секунд

			.member__item-action
				.member__item-action-inner
					.member__item-action-btn
						a(href='#').btn.btn_blue ХОЧУ АБОНЕМЕНТ
					.member__item-action-btn
						a(href='#').btn.btn_border ЗАПИСАТЬСЯ НА ВИЗИТ

mixin vacancyItem(title, labels)

	.vacancy__item
		.vacancy__item-inner
			.vacancy__item-title!= title
			if ( labels )
				.vacancy__item-labels
					each val in labels
						.label= val


mixin filterItemTag(val, checked)
	label.filter__tags-item
		input(type='checkbox', name='', value= val, checked= checked)
		span= val

mixin filterItemRadio(text, val, name, checked)
	label.filter__radio-item
		input(type='radio', name= name, value= val, checked= checked)
		span= text

mixin filterItemSelect(text, val, name, checked)
	label.filter__select-item
		input(type='radio', name= name, value= val, checked= checked)
		span= text

mixin filterItemMultiply(text, val, name, checked)
	label.filter__select-item
		input(type='checkbox', name= name, value= val, checked= checked)
		span= text


mixin photo()
	.photos__item
		.photos__item-inner
			.photos__item-image: img(data-original='img/temp/photo_01.jpg', src='../img/temp/photo_01.jpg', alt='')

