.popup.popup_subscribe#popupSubscribe
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title УБОЙНАЯ ТРЕНИРОВКА ОТ&nbsp;НАШИХ ТРЕНЕРОВ #[span БЕСПЛАТНО]
				.popup__form.subscribe.clearfix
					form.subscribe__form.form(action='/', method='post')
						.form__group
							.form__field.form__field_l
								.form__input
									input(type='text', name='subscribeName', placeholder='ВАШЕ ИМЯ')
								.form__message

							.form__field.form__field_r
								.form__input
									input(type='tel', name='subscribePhone', placeholder='ТЕЛЕФОН')
								.form__message

						.form__group
							.form__field.form__field_r
								.form__text Заполни форму, и жми «Записаться», мы перезвоним в течении часа.

							.form__field.form__field_l
								.form__input.form__input_submit
									button(type='submit').btn: span ЗАПИСАТЬСЯ

.popup.popup_member#popupMember1
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title Узнать стоимость
				.popup__member
					.member__item.clearfix
						.member__item-inner
							.member__item-image: img(src='../img/crossfit/member_8.png')
							.member__item-title Абонемент на 8 тренировок
							.member__item-text
								ul
									li Посещение в часы грпповых тренировок
									li Посещение в течении срока основного абонемента

				.popup__form.subscribe.clearfix
					form.subscribe__form.form(action='/', method='post')
						.form__group
							.form__field.form__field_l
								.form__input
									input(type='text', name='subscribeName', placeholder='ВАШЕ ИМЯ')
								.form__message

							.form__field.form__field_r
								.form__input
									input(type='tel', name='subscribePhone', placeholder='ТЕЛЕФОН')
								.form__message

						.form__group
							.form__field.form__field_r
								.form__text Заполни форму, и жми «Записаться», мы перезвоним в течении часа.

							.form__field.form__field_l
								.form__input.form__input_submit
									button(type='submit').btn: span ЗАПИСАТЬСЯ


.popup.popup_subscribe#popupSubscribeDone
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title #[span ты записан]#[br]мы&nbsp;скоро свяжемся с&nbsp;тобой
				.popup__btn: .btn(data-popup-close='.popup'): span ЗАКРЫТЬ


.popup.popup_staff#popapStaff_1
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__gallery
					.gallery
						.gallery__list
							.gallery__item: .gallery__item-inner: .gallery__item-link.obj-fit: img(data-original='img/temp/photo_01.jpg', src='../img/temp/photo_01.jpg')
							.gallery__item: .gallery__item-inner: .gallery__item-link.obj-fit: img(data-original='img/temp/trainer_gallery_01.jpg', src='../img/temp/trainer_gallery_01.jpg')
							.gallery__item: .gallery__item-inner: .gallery__item-link.obj-fit: img(data-original='img/temp/trainer_gallery_02.jpg', src='../img/temp/trainer_gallery_02.jpg')
							.gallery__item: .gallery__item-inner: .gallery__item-link.obj-fit: img(data-original='img/temp/photo_01.jpg', src='../img/temp/photo_01.jpg')
							.gallery__item: .gallery__item-inner: .gallery__item-link.obj-fit: img(data-original='img/temp/trainer_gallery_01.jpg', src='../img/temp/trainer_gallery_01.jpg')
							.gallery__item: .gallery__item-inner: .gallery__item-link.obj-fit: img(data-original='img/temp/trainer_gallery_02.jpg', src='../img/temp/trainer_gallery_02.jpg')

						.slider-control
							.slider-control__arrow.slider-control__arrow_prev
							.slider-control__count
							.slider-control__dots
							.slider-control__arrow.slider-control__arrow_next
				.popup__info
					.popup__info-title Мария Кухарева
					.popup__info-subtitle Тренер EF CrossFit

					.popup__info-listtitle ОСНОВНАЯ ИНФОРМАЦИЯ
					ul
						li Сертифицированный тренер CF LVL-1
						li Тренерский стаж 6 лет
						li Выступающий спортсмен

					.popup__info-listtitle ОБРАЗОВАНИЕ
					ul
						li НГУ им. П.Ф.Лесгафта



					.popup__info-listtitle ДОСТИЖЕНИЯ
					ul
						li КМС по баскетболу (член сборной Росии)
						li Участник соревнований по кроссфит (Большой летний Кубок ‘14)
						li 7 место на Зимних играх «Гераклион»


					.popup__info-graph
						.popup__info-graph-list
							.popup__info-graph-item
								.popup__info-graph-num 23
								.popup__info-graph-val года
								.popup__info-graph-text ВОЗРАСТ
							.popup__info-graph-item
								.popup__info-graph-num 6
								.popup__info-graph-val лет
								.popup__info-graph-text СТАЖ РАБОТЫ ТРЕНЕРОМ
							.popup__info-graph-item
								.popup__info-graph-num 7
								.popup__info-graph-val МЕСТО
								.popup__info-graph-text CROSSFIT «ГЕРАКЛИОН»
							.popup__info-graph-item
								.popup__info-graph-num 560
								.popup__info-graph-val раз
								.popup__info-graph-text ПРИСЕДАЕТ

					.popup__info-listtitle Я В СОЦ.СЕТЯХ
					.popup__info-soc
						a(href='#').popup__info-soc-item.popup__info-soc-item_vk id79693

						a(href='#').popup__info-soc-item.popup__info-soc-item_fb Club_Sveta_sport

						a(href='#').popup__info-soc-item.popup__info-soc-item_ig Sveta_sport

					.popup__info-btn: .btn(data-popup-open='#popupSubscribe'): span ЗАПИСАТЬСЯ НА БЕСПЛАТНОЕ ЗАНЯТИЕ




