include mixin

block vars
doctype html
html
	head
		meta(charset='UTF-8')/
		meta(name='viewport', content='width=device-width')/
		meta(http-equiv='X-UA-Compatible', content='IE=edge')/
		title= pageTitle

		block head
	body
		.wrapper
			include nav
			.content
				block content
				include footer

		include popups

		//-script(src='js/crossfit.script.js')

		block append