

@mixin frame($color: 'black'){

	$c: #fff;
	$bpt: 0 0;
	$bpb: 0 0;
	$bpt2: 0 0;
	$bpb2: 0 0;

	@if ( $color == 'black'){
		$c: $colorBlackCF;
		$bpt: 0 -1228px;
		$bpb: 0 -1329px;
		$bpt2: 0 -868px;
		$bpb2: 0 -988px;
	} @else if( $color == 'red'){
		$c: $colorRedCF;
		$bpt: 0 -1430px;
		$bpb: 0 -1531px;
		$bpt2: 0 -1050px;
		$bpb2: 0 -1168px;
	}

	background: $c;
	position: relative;
	color: #fff;
	margin: 100px 0;
	padding: 40px 0;

	&:before,
	&:after{
		content: '';
		height: 101px;
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		@include backgroundSprite(0, 0, $sprite);
		background-repeat: repeat-x;

		@include breakPoint($breakPointCompact){
			height: 60px;
		}
	}

	&:before{
		top: -100px;
		background-position: $bpt;

		@include breakPoint($breakPointCompact){
			top: -60px;
			background-position: $bpt2;
		}
	}

	&:after{
		bottom: -100px;
		background-position: $bpb;

		@include breakPoint($breakPointCompact){
			bottom: -60px;
			background-position: $bpb2;
		}
	}
}


body {
	font-family: 'Fira Sans', sans-serif;
	font-size: 30px;
	width: 100%;
	height: 100%;
	min-width: $minWidth;
	line-height: 1.2;
	color: $colorBlackCF;

	@include breakPoint($breakPointCompact){
		font-size: 18px;
	}

	&.is-menu-open{
		overflow: hidden;
	}
}

.content{
	background: url("../img/crossfit/background.png") 50% 0;
}

.wrapper {
	height: 100%;

	.is-blur &{
		filter: blur(5px);
	}
}

.inner{
	width: $minInner;
	margin: 0 auto;
	@include box-sizing();
	position: relative;

	@include breakPoint($breakPointCompact){
		width: $tabletInner;
	}

	@include breakPoint($breakPointWide){
		width: $desktopInner;
	}


	.popup &{
		width: 100%;
	}
	#content &{
		width: $minInner;

		@include breakPoint($breakPointCompact){
			width: $contentInner;
		}
	}
}


.slider-control{
	text-align: center;
	position: relative;
	@include user-select();

	@include breakPoint($breakPointCompact){
		position: absolute;
		top: 20px;
		right: 0;
	}

	&__arrow{

		display: inline-block;
		vertical-align: middle;
		width: 72px;
		height: 64px;
		@include backgroundSprite(0, 0, $sprite);
		cursor: pointer;

		@include breakPoint($breakPointCompact){
			width: 40px;
			height: 36px;
		}

		&.slick-disabled{
			opacity: 0.5;
		}

		&_prev{
			background-position: 0 -203px;

			@include breakPoint($breakPointCompact){
				background-position: -1029px -175px;

				&:not(.slick-disabled):hover{
					background-position: -1029px -211px;

					.gallery &{
						background-position: -1029px -139px;
					}
				}
			}

		}

		&_next{
			background-position: -72px -203px;

			@include breakPoint($breakPointCompact){
				background-position: -1069px -175px;
				margin-left: 45px;

				&:not(.slick-disabled):hover{
					background-position: -1069px -211px;

					.gallery &{
						background-position: -1069px -139px;
					}
				}
			}
		}
	}
	&__count{
		font-size: 72px;
		color: $colorGreyCF;
		font-family: $titleFont;
		display: inline-block;
		vertical-align: middle;
		min-width: 300px;

		@include breakPoint($breakPointCompact){
			display: none;
		}
	}
	&__dots{
		display: none;
	}
}


.tabs{
	overflow: hidden;
	margin-bottom: 50px;

	@include breakPoint($breakPointCompact){
		//overflow: visible;
	}

	&__menu{
		white-space: nowrap;
		overflow-x: auto;
		margin-bottom: -20px;
		padding-bottom: 20px;

		@include breakPoint($breakPointCompact){

		}

		&-item{
			display: inline-block;
			cursor: pointer;
			color: $colorGrey;
			padding-right: 50px;
			@include user-select();
			@include box-sizing();

			@include breakPoint($breakPointCompact){
				padding-right: 50px;
				font-size: 18px;

				&:hover{
					color: #fff;
				}
			}

			&.is-active{
				color: #fff;

				span{
					border-bottom: 2px dotted #fff;
				}
			}

			span{
				display: inline-block;
				padding-bottom: 20px;
				position: relative;


				sup{
					font-size: 20px;
					color: inherit;
					left: 0;
					bottom: 100%;
					display: block;

					@include breakPoint($breakPointCompact){
						font-size: 14px;
						position: absolute;
						left: 0;
						bottom: 100%;
					}
				}
			}
		}

		&-btn{
			width: 100%;

			.btn{
				display: block;
			}

			@include breakPoint($breakPointCompact){
				float: right;
				width: auto;
			}
		}
	}

}






// nav


.is-menu-open{
	.content{
		filter: blur(5px);
	}
}

.nav{

	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: $colorRedCF;
	z-index: 11	;

	@include transition('left');
	color: #fff;

	@include breakPoint($breakPointCompact){
		width: calc(100% - 140px);
		left: calc(-100% + 140px);

		&:before{
			content: '';
			position: absolute;
			width: 79px;
			background: url("../../img/crossfit/nav-border.png") repeat-y 100% 0;
			top: 0;
			right: 0;
			bottom: 0;
			@include transition('right');

			.is-menu-open &{
				right: -45px;
			}
		}
	}

	.is-menu-open &{
		left: 0;

		@include breakPoint($breakPointCompact){

		}
	}

	&__handle{
		@include box-sizing();
		height: $headerHeightMobile;
		width: $headerHeightMobile;

		position: absolute;
		top: 0;
		right: -$headerHeightMobile;

		margin-left:0;
		@include transition('right');
		z-index: 2;

		@include burgerButton('.is-menu-open', 44px, 6px);

		@include breakPoint($breakPointCompact){
			height: $headerHeightDesktop;
			width: $headerHeightDesktop;
			right: -$headerHeightDesktop;
			@include burgerButton('.is-menu-open', 27px, 4px);
		}


		&:before{
			content: '';
			width: 157px;
			height: 197px;
			@include backgroundSprite(144, 139, $sprite);
			position: absolute;
			top: -5px;
			left: 0;
			pointer-events: none;

			@include breakPoint($breakPointCompact){
				width: 87px;
				height: 109px;
				background-position: -1029px -283px;
			}
		}

		.is-menu-open &{
			right: 0;

			@include breakPoint($breakPointCompact){
				right: -$headerHeightDesktop;
			}
		}
	}





	&__inner{
		padding: 20px;
		width: 100%;
		overflow: auto;
		height: 100%;
		@include box-sizing();

		@include breakPoint($breakPointCompact){
			padding: 100px 60px;
		}
	}

	&__menu{

		font-size: 48px;
		font-family: $titleFont;

		a{
			color: inherit;
			display: inline-block;
			padding-right: 60px;
		}

		@include breakPoint($breakPointCompact){
			font-size: 36px;
			float: left;
			max-width: 540px;
		}

		&-item{
			margin: 40px 120px 40px 20px;
			position: relative;

			@include breakPoint($breakPointCompact){
				&:hover{
					color: $colorRedDarkCF;
				}
			}

			&.is-active{
				color: $colorRedDarkCF;

				a{
					&:after{
						content: '->';
						position: absolute;
						font-size: 80px;
						margin-top: -19px;
						margin-left: 35px;
						white-space: nowrap;

						@include breakPoint($breakPointCompact){
							font-size: 60px;
							margin-top: -14px;
						}


					}
				}
			}


			@include breakPoint($breakPointCompact){
				margin: 0 0 30px 0;
			}
		}
	}


	&__object{

		@include breakPoint($breakPointCompact){
			margin-left: 580px;
		}

		&-item{
			padding: 45px 0;
			margin-bottom: 45px;

			@include breakPoint($breakPointCompact){
				padding: 0;
				margin-bottom: 30px;
				overflow: hidden;

				&:last-child{
					margin-bottom: 0;
				}
			}
		}

		&-title{
			font-size: 36px;
			font-weight: 600;
			position: relative;
			margin-bottom: 35px;

			@include breakPoint($breakPointCompact){
				font-size: 30px;
			}

			&:before{
				content: '';
				display: block;
				width: 60px;
				height: 57px;
				top: -12px;
				left: 0;
				position: absolute;

				@include breakPoint($breakPointCompact){
					width: 35px;
					height: 34px;
					top: -8px;
				}
			}
		}

		&-btn{
			margin: 45px 0 20px;

			@include breakPoint($breakPointCompact){

			}

			.btn{
				display: block;
				width: 500px;
				height: 100px;
				color: $colorRedCF;
				font-size: 30px;
				font-weight: 600;
				padding: 14px 30px 0 40px;
				margin: 0 auto;
				position: relative;

				@include breakPoint($breakPointCompact){
					font-size: 16px;
					width: 300px;
					height: 40px;
					margin: 0 0 60px 0;

					&:hover{
						//&:after{
						//	display: block;
						//}

						color: #fff;

						&:before{
							background-position: -1444px -2254px;
						}
					}
				}

				span{
					position: relative;
				}

				&:before{
					content: '';
					position: absolute;
					top: -33px;
					left: -9px;
					display: block;
					width: 538px;
					height: 184px;
					@include backgroundSprite(538, 684, $sprite);

					@include breakPoint($breakPointCompact){
						width: 369px;
						height: 94px;
						top: -23px;
						left: 0px;
						background-position: -1076px -2254px;
					}
				}

				//&:after{
				//	content: '';
				//	position: absolute;
				//	display: block;
				//	width: 180px;
				//	height: 232px;
				//	@include backgroundSprite(309, 139, $sprite);
				//	top: -20px;
				//	right: 0;
				//
				//	@include breakPoint($breakPointCompact){
				//		width: 100px;
				//		height: 129px;
				//		background-position: -389px -555px;
				//		display: none;
				//
				//		top: -43px;
				//		right: -58px;
				//	}
				//}

			}
		}

		&-contact{

			padding-left: 65px;
			position: relative;
			line-height: 1.83;
			padding-right: 40px;
			font-size: 24px;

			@include breakPoint($breakPointCompact){
				padding-left: 50px;
				line-height: 1.5;
				margin-bottom: 60px;
				font-size: 14px;
			}

			&:before{
				content: '';
				width: 41px;
				height: 41px;
				@include backgroundSprite(888, 52, $sprite);
				position: absolute;
				top: 5px;
				left: 0;

				@include breakPoint($breakPointCompact){
					width: 27px;
					height: 27px;
					top: 0px;
					background-position: -929px -34px;
				}

			}

			&-bigtitle{
				//display: none;
				font-size: 30px;
				color: $colorRedDarkCF;
				font-weight: 600;

				@include breakPoint($breakPointCompact){
					font-size: 14px;
					margin-bottom: 15px;
				}
			}

			&-title{
				font-size: 24px;

				@include breakPoint($breakPointCompact){
					font-size: 14px;
				}
			}

			&-phone{
				font-weight: 500;

				span{
					display: block;
					@include breakPoint($breakPointCompact){
						display: inline;

						&:after{
							content: ', ';
						}

						&:last-child{
							&:after{
								display: none;
							}
						}
					}
				}

			}
		}

		&-address{
			padding-left: 65px;
			font-size: 24px;
			position: relative;
			line-height: 1.83;
			padding-right: 40px;

			@include breakPoint($breakPointCompact){
				font-size: 14px;
				padding-left: 50px;
				margin-bottom: 40px;
				line-height: 1.5;
			}

			&:before{
				content: '';
				width: 41px;
				height: 52px;
				@include backgroundSprite(888, 0, $sprite);
				position: absolute;
				top: -5px;
				left: 0px;

				@include breakPoint($breakPointCompact){
					width: 27px;
					height: 34px;
					top: -10px;
					background-position: -929px 0;
				}

			}


			&-bigtitle{
				//display: none;
				font-size: 30px;
				color: $colorRedDarkCF;
				font-weight: 600;

				@include breakPoint($breakPointCompact){
					font-size: 14px;
					margin-bottom: 15px;
				}
			}
		}

		&-socials{
			padding-left: 65px;
			margin-top: 50px;

			@include breakPoint($breakPointCompact){
				padding-left: 0;
				margin-top: 15px;
			}

			&-list{}

			&-item{
				width: 55px;
				height: 45px;
				display: inline-block;
				vertical-align: middle;
				@include backgroundSprite(0, 0, $sprite);
				margin-right: 40px;

				/*@include breakPoint($breakPointCompact){
					width: 35px;
					height: 30px;
					margin-right: 20px;
				}*/

				&:last-child{
					margin-right: 0;
				}

				&:last-child{
					margin-right: 0;
				}

				&_vk{
					background-position: -763px 0 ;

					@include breakPoint($breakPointCompact){
						background-position: -708px 0 ;


						&:hover{
							background-position: -763px 0 ;
						}
					}
				}
				&_fb{
					background-position: -763px -45px ;

					@include breakPoint($breakPointCompact){
						background-position: -708px -45px ;

						&:hover{
							background-position: -763px -45px ;
						}
					}
				}
				&_ig{
					background-position: -763px -90px;

					@include breakPoint($breakPointCompact){
						background-position: -708px -90px;

						&:hover{
							background-position: -763px -90px;
						}
					}
				}
			}
		}
	}


}


.section{

	margin: -100px 0;
	padding: 140px 0;

	@include breakPoint($breakPointCompact){

	}

	&_welcome{
		background: $colorBlackCF url("../img/crossfit/poster.jpg") 50% 0 no-repeat;
		background-size: cover;
		position: relative;
		margin-top: 0;
		padding: 0;
	}

	&_gallery{
		@include frame('black');

		.section__title{
			text-align: center;

			@include breakPoint($breakPointCompact){
				text-align: left;
			}
		}
	}

	&_staff{
		@include frame('black');
	}

	&_who{
		@include frame('red');
	}

	&_what{
		margin-top: 0;
		padding-top: 60px;

		.section__title,
		.section__subtitle{
			text-align: center;


			@include breakPoint($breakPointCompact){
				max-width: 760px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	&_who{
		.section__title,
		.section__subtitle{
			text-align: center;
		}
	}

	&_method{
		.section__title,
		.section__subtitle{
			text-align: center;
		}

		.section__subtitle{
			@include breakPoint($breakPointCompact){
				max-width: 440px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	&_subscribe_1{
		overflow: hidden;
		margin-bottom: 0;

		.section__title,
		.section__subtitle{
			text-align: center;
		}
	}

	&_subscribe_2{
		@include frame('black');

		.section__title,
		.section__subtitle{
			text-align: center;
		}
	}



	&__title{
		font-size: 72px;
		font-family: $titleFont;
		margin-bottom: 45px;

		@include breakPoint($breakPointCompact){
			font-size: 60px;
			margin-bottom: 35px;
		}

		span{
			color: $colorRedCF;
		}
	}

	&__subtitle{
		font-size: 30px;
		margin-bottom: 10px;

		@include breakPoint($breakPointCompact){
			font-size: 16px;
		}
	}
}

// welcome

.welcome{

	min-height: 100vh;
	color: #fff;
	@include box-sizing();
	position: relative;
	padding-bottom: 230px;


	&__logo{
		width: 354px;
		height: 139px;
		@include backgroundSprite(0, 0, $sprite);
		display: block;
		position: absolute;
		top: 20px;
		left: 215px;

		@include breakPoint($breakPointCompact){
			left: 50%;
			margin-left: -177px;
			top: 40px;
		}

	}
	&__text{
		padding-top: 275px;


		@include breakPoint($breakPointCompact){
			width: 980px;
			margin: 0 auto;
		}

		&-subtitle{
			font-size: 36px;
			font-weight: 500;
		}
		&-title{
			font-family: $titleFont;
			font-size: 150px;

			span{
				display: block;
				@include breakPoint($breakPointCompact){
					display: inline;
				}
			}

			@include breakPoint($breakPointCompact){
				white-space: nowrap;
			}
		}
		&-posttitle{
			font-size: 36px;
			font-weight: 600;
			color: $colorRedCF;
			text-align: right;
		}
	}
	&__btn{
		position: absolute;
		bottom: 110px;
		left: 0;
		right: 0;

		@include breakPoint($breakPointCompact){
			bottom: auto;
			top: 65px;
			right: -50px;
			left:auto;

		}

		.btn{
			display: block;
			width: 500px;
			height: 100px;
			line-height: 100px;
			color: #fff;
			font-size: 30px;
			font-weight: 600;
			text-align: center;
			margin: 0 auto;
			position: relative;
			cursor: pointer;

			@include breakPoint($breakPointCompact){
				font-size: 16px;
				height: 50px;
				line-height: 50px;
				width: 300px;

				&:hover{

					&:before{
						background-position: -1374px -2152px;
					}
				}
			}

			span{
				position: relative;
				padding-left: 30px;

				@include breakPoint($breakPointCompact){
					padding-left: 0;
				}
			}

			&:before{
				content: '';
				position: absolute;
				top: -33px;
				left: -9px;
				display: block;
				width: 538px;
				height: 184px;
				@include backgroundSprite(0, 684, $sprite);

				@include breakPoint($breakPointCompact){
					width: 299px;
					height: 102px;
					background-position: -1075px -2152px;
					top: -23px;
					left: 0;
				}
			}

			&:after{
				content: '';
				position: absolute;
				display: block;
				width: 144px;
				height: 184px;
				@include backgroundSprite(849, 371, $sprite);
				top: -37px;
				left: -50px;

				@include breakPoint($breakPointCompact){
					width: 100px;
					height: 129px;
					background-position: -849px -555px;
				}
			}
		}
	}

}

.staff{

	overflow: hidden;

	.slick-list{
		overflow: visible!important;
	}


	&__list{
		margin-bottom: 60px;
	}

	&__item{
		width: 385px!important;

		&-inner{


			@include breakPoint($breakPointCompact){
				&:hover{

					.staff__item-name{
						&:before{
							content: '';
							display: block;
							position: absolute;
							width: 363px;
							height: 91px;
							@include backgroundSprite(1075, 2061, $sprite);
							top: -9px;
							left: 0;
						}

						&:after{
							content: '->';
							white-space: nowrap;
							position: absolute;
							font-family: $titleFont;
							font-size: 60px;
							top: 0px;
							right: 64px;
						}
					}
				}
			}

		}

		&-image{
			width: 367px;
			height: 367px;
			position: relative;
			margin-bottom: 25px;
			display: block;

			&:before{
				content: '';
				display: block;
				position: absolute;
				width: 400px;
				height: 386px;
				@include backgroundSprite(0, 1632, $sprite);

				top: -10px;
				left: -10px;
			}

			img{
				width: 100%;
				height: 100%;
				display: block;
			}
		}

		&-name{
			font-size: 48px;
			font-weight: 600;
			margin-bottom: 20px;
			cursor: pointer;
			position: relative;

			span{
				position: relative;
				width: 220px;
				display: inline-block;
			}


			@include breakPoint($breakPointCompact){
				font-size: 30px;
				padding-left: 20px;

				&:hover{
					&:before{
						background-position: -1438px -2061px!important;
					}
				}
			}
		}


		&-text{
			color: $colorGreyCF;
			font-size: 30px;
			line-height: 1.3;

			@include breakPoint($breakPointCompact){
				font-size: 14px;
			}

			ul{

			}

			li{
				position: relative;
				padding-left: 40px;

				@include breakPoint($breakPointCompact){
					padding-left: 22px;
					margin-bottom: 5px;
				}

				&:before{
					content: '';
					position: absolute;
					top: 7px;
					left: 0;
					width: 22px;
					height: 22px;
					@include backgroundSprite(44, 395, $sprite);

					@include breakPoint($breakPointCompact){
						width: 14px;
						height: 14px;
						top: 0;
						background-position: -94px -395px;
					}
				}
			}
		}
	}
}

.gallery{

	&-out{
		overflow: hidden;
	}

	.slick-list{
		overflow: visible!important;
	}

	&__list{

	}
	&__item{
		&-inner{}
		&-link{
			width: 575px;
			height: 400px;
			position: relative;


			@include breakPoint($breakPointCompact){
				width: 644px;
				height: 448px;

				&:hover{
					&:after{
						display: block;
					}
				}
			}

			&:before{
				content: '';
				display: block;
				position: absolute;
				width: 606px;
				height: 429px;
				pointer-events: none;
				@include backgroundSprite(1075, 1632, $sprite);

				top: -10px;
				left: -10px;

				@include breakPoint($breakPointCompact){
					width: 645px;
					height: 478px;
					left: 0px;
					background-position: -400px -1632px;
				}
			}

			&:after{
				content: '';
				width: 87px;
				height: 86px;
				@include backgroundSprite(0, 439, $sprite);
				position: absolute;
				right: 20px;
				bottom: 0;
				pointer-events: none;

				@include breakPoint($breakPointCompact){
					bottom: 50%;
					right: 50%;
					margin-bottom: -43px;
					margin-right: -43px;
					display: none;
				}
			}

			img{
				width: 100%;
				height: 100%;
				display: block;
				object-fit: cover;
				cursor: pointer;
			}

			&.object-fit{

				img{
					opacity: 0;
				}
			}
		}
	}

	.slider-control {
		@include breakPoint($breakPointCompact){
			top: -100px;
		}


		&__arrows{

		}

		&__dots{
			@include breakPoint($breakPointCompact){
				display: block;
				position: relative;
				z-index: 1;

				ul{
					text-align: center;
				}

				li{
					display: inline-block;
					width: 22px;
					height: 22px;
					cursor: pointer;
					margin: 6px;

					@include backgroundSprite(22, 417, $sprite);

					button{
						opacity: 0;
						cursor: pointer;
					}


					&:hover{
						background-position: 0 -417px;
					}

					&.slick-active{
						background-position: 0 -395px;
					}
				}
			}
		}
	}
}

.subscribe{
	overflow: hidden;

	@include breakPoint($breakPointWide){
		padding-top: 100px;

		.section__title{
			width: 620px;
			float: left;
			text-align: left;
		}
	}

	.form{
		position: relative;
		margin: 100px 0;
		color: $colorBlackCF;

		@include breakPoint($breakPointCompact){
			width: 720px;
			margin: 100px auto;
			min-height: 180px;
		}

		@include breakPoint($breakPointWide){
			margin: 0 0 0 120px;
			min-height: 290px;
			float: left;
		}

		&__group{

			@include breakPoint($breakPointCompact){
				&:before{
					content: '';
					display: table;
					clear: both;
				}
			}
		}

		&:before{
			content: '';
			display: block;
			position: absolute;
			@include backgroundSprite(1171, 0, $sprite);
			width: 729px;
			height: 684px;
			top: -97px;
			left: -72px;

			@include breakPoint($breakPointCompact){
				width: 1049px;
				height: 390px;
				background-position: 0 -2481px;
				top: -100px;
				left: -160px;
			}
		}

		&__field{
			margin-bottom: 60px;

			@include breakPoint($breakPointCompact){
				margin-bottom: 90px;
				width: 326px;
			}


			&_l{

				@include breakPoint($breakPointCompact){
					float: left;
				}
			}
			&_r{

				@include breakPoint($breakPointCompact){
					float: right;
				}
			}
		}
		&__input{

		}

		&__text{
			color: $colorGreyCF;
		}

		.btn{
			display: block;
			width: 500px;
			height: 100px;
			line-height: 100px;
			color: #fff;
			font-size: 30px;
			font-weight: 600;
			text-align: center;
			margin: 0 auto;
			position: relative;

			@include breakPoint($breakPointCompact){
				font-size: 16px;
				line-height: 30px;
				height: 30px;
				width: 100%;

				&:hover{

					&:before{
						background-position: -1374px -2152px;
					}
				}
			}

			span{
				position: relative;
				padding-right: 30px;

				@include breakPoint($breakPointCompact){


				}
			}

			&:before{
				content: '';
				position: absolute;
				top: -33px;
				left: -39px;
				display: block;
				width: 538px;
				height: 184px;
				@include backgroundSprite(0, 684, $sprite);

				@include breakPoint($breakPointCompact){
					width: 299px;
					height: 102px;
					background-position: -1075px -2152px;
					top: -32px;
					left: 0;
				}
			}

			&:after{
				content: '';
				position: absolute;
				display: block;
				width: 180px;
				height: 232px;
				@include backgroundSprite(309, 139, $sprite);
				top: -60px;
				right: -40px;

				@include breakPoint($breakPointCompact){
					width: 100px;
					height: 129px;
					background-position: -389px -555px;
					top: -42px;
					right: -6px;
					//display: none;
				}
			}
		}
	}

}

.what{
	text-align: center;

	&__list{
		font-size: 0;
		margin: 0 -10px;

		@include breakPoint($breakPointCompact){
			margin-top: 50px;
		}
	}

	&__item{
		display: inline-block;
		vertical-align: top;
		width: 50%;
		@include box-sizing();
		padding: 25px 10px;

		@include breakPoint($breakPointWide){
			width: 25%;
		}

		&-val{
			font-size: 72px;
			font-family: $titleFont;
			color: $colorRedCF;
			margin-bottom: 15px;

			@include breakPoint($breakPointCompact){
				font-size: 60px;
			}
		}
		&-text{
			font-size: 24px;

			@include breakPoint($breakPointCompact){
				font-size: 18px;
				max-width: 320px;
				margin: 0 auto;
			}
		}
	}
}

.method{
	//overflow: hidden;
	//
	//.slick-list{
	//	overflow: visible!important;
	//}

	position: relative;

	&__devide{
		display: none;

		@include breakPoint($breakPointCompact){
			font-family: $titleFont;
			font-size: 60px;
			color: $colorRedCF;
			position: absolute;
			display: block;
			top: 110px;
			left: 50%;
			width: 60px;
			text-align: center;
			margin-left: -30px;
		}
	}

	&__count{
		font-family: $titleFont;
		font-size: 150px;
		color: $colorGreyCF;
		text-align: center;
		margin: 50px 0;

		.slick-dots{
			li{
				display: inline-block;
				vertical-align: middle;
				padding: 0 35px;
			}
		}

		.slick-active{
			color: $colorRedCF;
		}
	}

	&__list{
		text-align: center;

		@include breakPoint($breakPointCompact){
			text-align: left;
			-webkit-columns: 320px 2;
			-moz-columns: 320px 2;
			columns: 320px 2;
			-webkit-column-gap: 40px;
			-moz-column-gap: 40px;
			column-gap: 40px;
		}
	}

	&__item{

		@include breakPoint($breakPointCompact){
			margin: 0 auto;
			width: 320px;
			position: relative;
			-webkit-column-break-inside: avoid;
			page-break-inside: avoid;
			break-inside: avoid;
			min-height: 340px;
		}

		&-step{
			display: none;


			@include breakPoint($breakPointCompact){
				font-family: $titleFont;
				font-size: 150px;
				color: $colorRedCF;
				position: absolute;
				display: block;
				top: 60px;

				.method__item_1 &{
					left: -140px;
				}

				.method__item_2 &{
					left: -140px;
				}

				.method__item_3 &{
					right: -140px;
				}

				.method__item_4 &{
					right: -140px;
				}
			}
		}
		&-image{
			margin-bottom: 40px;

			@include breakPoint($breakPointCompact){
				margin-bottom: 20px;
			}

			img{
				display: inline-block;
				max-width: 100%;
				max-height: 200px;

				@include breakPoint($breakPointCompact){
					max-height: 115px;
				}
			}
		}
		&-title{
			font-size: 48px;
			font-weight: 600;
			margin-bottom: 15px;

			@include breakPoint($breakPointCompact){
				font-size: 30px;
				padding-right: 40px;
			}
		}
		&-text{
			color: $colorGreyCF;
			line-height: 1.3;

			@include breakPoint($breakPointCompact){
				font-size: 16px;
			}
		}
	}
}


.who{

	overflow: hidden;

	.slick-list{
		overflow: visible!important;
	}

	.slider-control{

		@include breakPoint($breakPointCompact){
			display: none;
		}

		&__count{
			color: $colorRedDarkCF;
		}

		&__arrow{

			&_prev{
				background-position: 0 -331px;
			}

			&_next{
				background-position: -72px -331px;
			}
		}
	}

	&__list{
		margin-bottom: 60px;
		font-size: 0;
	}

	&__item{
		width: 385px!important;

		@include breakPoint($breakPointCompact){
			display: inline-block;
			vertical-align: top;
			width: (100% / 3)!important;
			text-align: center;
		}

		&-info{
			padding-right: 40px;

			.more{
				display: none;

				@include breakPoint($breakPointCompact){
					display: inline;
				}
			}

			&.show-more{
				.more{
					display: inline;
				}
				.who__item-more{
					display: none;
				}
			}
		}

		&-image{
			width: 367px;
			height: 350px;
			position: relative;
			margin-bottom: 25px;
			display: block;

			@include breakPoint($breakPointCompact){
				margin: 0 auto 25px;
			}


			@include breakPoint($breakPointWide){
				width: 490px;
				height: 330px;
			}

			&:before{
				content: '';
				display: block;
				position: absolute;
				width: 400px;
				height: 386px;
				@include backgroundSprite(0, 2018, $sprite);

				top: -10px;
				left: -10px;

				@include breakPoint($breakPointWide){
					width: 526px;
					height: 371px;
					background-position: -400px -2110px;
				}
			}

			img{
				//width: 100%;
				//height: 100%;
				//display: block;
			}
		}

		&-title{
			font-size: 48px;
			font-weight: 600;
			margin-bottom: 20px;
			overflow: hidden;
			text-overflow: ellipsis;
			line-height: 60px;

			@include breakPoint($breakPointCompact){
				font-size: 30px;
			}
		}


		&-text{
			font-size: 30px;
			line-height: 40px;

			@include breakPoint($breakPointCompact){
				font-size: 16px;
				line-height: 1.2;
			}
		}

		&-more{
			width: 57px;
			height: 57px;
			@include backgroundSprite(0, 525, $sprite);
			margin: 40px auto;

			@include breakPoint($breakPointCompact){
				display: none;
			}
		}
	}
}


.member{
	overflow: hidden;

	.slick-list{
		overflow: visible!important;
	}

	&__list{}

	&__item{
		width: 390px!important;
		padding-right: 50px;
		@include box-sizing();
		position: relative;

		&-inner{
			position: relative;
			z-index: 1;
		}

		@include breakPoint($breakPointCompact){

			&:hover{

				&:before{
					content: '';
					position: absolute;
					top: -65px;
					left: -40px;
					width: 413px;
					height: 596px;
					@include backgroundSprite(1075, 2348, $sprite);
				}

				.member__item-btn{
					opacity: 1;
				}
			}
		}

		&-image{
			width: 340px;
			height: 210px;
			margin-bottom: 50px;

			img{
				width: 100%;
			}
		}
		&-title{
			font-size: 48px;
			font-weight: 600;
			margin-bottom: 20px;
			overflow: hidden;
			text-overflow: ellipsis;

			@include breakPoint($breakPointCompact){
				font-size: 20px;
			}
		}
		&-text{

			@include breakPoint($breakPointCompact){
				font-size: 14px;
			}

			li{
				position: relative;
				padding-left: 40px;

				@include breakPoint($breakPointCompact){
					padding-left: 22px;
					margin-bottom: 10px;
				}


				&:before{
					content: '';
					position: absolute;
					top: 7px;
					left: 0;
					width: 22px;
					height: 22px;
					@include backgroundSprite(44, 395, $sprite);

					@include breakPoint($breakPointCompact){
						width: 14px;
						height: 14px;
						top: 0;
						background-position: -94px -395px;
					}
				}
			}
		}
		&-btn{
			display: none;

			@include breakPoint($breakPointCompact){
				display: block;
				opacity: 0;
			}

			.btn{
				display: block;
				color: #fff;
				font-weight: 600;
				text-align: center;
				margin: 70px 0 50px;
				position: relative;
				font-size: 16px;
				line-height: 30px;
				height: 30px;
				cursor: pointer;
				width: 300px;


				@include breakPoint($breakPointCompact){

					&:hover{
						&:before{
							background-position: -1374px -2152px;
						}
					}
				}


				span{
					position: relative;

					@include breakPoint($breakPointCompact){


					}
				}

				&:before{
					content: '';
					position: absolute;
					display: block;
					width: 299px;
					height: 102px;
					top: -32px;
					left: 0;
					@include backgroundSprite(1075, 2152, $sprite);

				}

				&:after{
					content: '';
					position: absolute;
					display: block;
					width: 100px;
					height: 129px;
					top: -42px;
					right: -50px;
					@include backgroundSprite(389, 555, $sprite);

				}
			}
		}
	}
}






$itemHeight: 110px;


.schedule{
	position: relative;


	&__control{
		height: 70px;
		position: relative;
		margin-top: 60px;
		margin-bottom: -50px;

		@include breakPoint($breakPointCompact){
			height: 50px;
			position: relative;
			margin-top: 0px;
			margin-bottom: -40px;
		}

		.slider-control{
			text-align: center;
			position: relative;

			&__arrow{

				position: absolute;
				top: 0;
				z-index: 1;


				&_prev{
					left: 0;
				}

				&_next{
					right: 0;
				}
			}

			@include breakPoint($breakPointCompact){

				top: 0;

				&__arrow{

					&_prev{
						left: -50px;
					}
					&_next{
						right: -50px;
					}
				}
			}

		}
	}

	&__period{

		display: none;
		position: absolute;
		top: 56px;

		@include breakPoint($breakPointCompact){
			display: block;
			left: -55px;
			z-index: 1;
		}


		&-time{
			background-color: #e7e7e7;
			width: 42px;
			height: $itemHeight + 2px;
			@include border-radius(4px);
			margin-bottom: 20px;
			text-align: center;
			font-size: 0;


			@include breakPoint($breakPointCompact){

				&.is-hover{
					background: $colorRedCF;
					color: #fff;
				}
			}

			&:before{
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}

			span{
				display: inline-block;
				vertical-align: middle;
				font-size: 14px;
			}

			&_2{

				@include breakPoint($breakPointCompact){
					height: (($itemHeight * 2) + 22px + 2px);
				}
			}

			&_3{

				@include breakPoint($breakPointCompact){
					height: (($itemHeight * 3) + 44px + 2px);
				}
			}
		}
	}

	&__list{
		margin: 0 -11px;

		@include breakPoint($breakPointCompact){
			margin: 0 -17px;
			overflow: hidden;
		}

	}

	&__column{
		min-height: 300px;

	}

	&__day{
		text-align: center;
		margin-bottom: 50px;
		font-size: 30px;

		@include breakPoint($breakPointCompact){
			margin-bottom: 14px;
			font-size: 18px;
		}

	}

	.slick-slide{

		&:last-child{
			.schedule__item{
				&.is-hover{

					&:after{
						border-right: 1px solid $colorRedCF;
						@include border-radius(0 5px 5px 0);
						right: 15px;
					}

				}
			}
		}
	}

	&__item{
		padding: 11px;
		vertical-align: top;
		position: relative;

		@include breakPoint($breakPointCompact){
			padding: 11px 17px;

			&.is-hover{

				&:after{
					content: '';
					position: absolute;
					display: block;
					top: 11px;
					left: 0;
					right: 0;
					bottom: 9px;
					border-top: 1px solid $colorRedCF;
					border-bottom: 1px solid $colorRedCF;
				}

			}
		}


		&-inner{
			position: relative;
			@include border-radius(8px);
			padding: 80px 40px 40px 40px;
			@include box-sizing();
			height: 210px;

			&:before{
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 587px;
				height: 213px;
				@include backgroundSprite(0, 0, '../img/crossfit/schedule.png');

				@include breakPoint($breakPointCompact){
					width: 211px;
					height: 126px;
					top: -8px;
					left: -8px;
					background-position: -587px 0;
				}
			}

			&_red{
				&:before{
					background-position: 0 -213px;

					@include breakPoint($breakPointCompact){
						background-position: -587px -213px;
					}
				}
			}

			&_yellow{
				&:before{
					background-position: 0 -426px;

					@include breakPoint($breakPointCompact){
						background-position: -587px -426px;
					}
				}
			}

			&_blue{
				&:before{
					background-position: 0 -639px;

					@include breakPoint($breakPointCompact){
						background-position: -587px -639px;
					}
				}
			}

			@include breakPoint($breakPointCompact){
				@include border-radius(4px);
				padding: 38px 20px 15px;
				height: $itemHeight;
			}

		}

		&-time{
			font-size: 24px;
			position: absolute;
			top: 40px;
			left: 40px;

			@include breakPoint($breakPointCompact){
				font-size: 14px;
				top: 15px;
				left: 20px;
			}

		}


		&-title{
			font-size: 36px;
			font-weight: 500;
			color: $colorRedCF;
			height: 50px;
			overflow: hidden;
			margin-bottom: 15px;
			white-space: nowrap;
			text-overflow: ellipsis;
			position: relative;

			@include breakPoint($breakPointCompact){
				font-size: 18px;
				height: 42px;
				margin-bottom: 5px;
			}
		}

		&-trainer{
			font-size: 24px;
			color: $colorGrey;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			position: relative;

			@include breakPoint($breakPointCompact){
				font-size: 12px;
			}
		}


		&_clean{

			@include breakPoint(0, $breakPointCompact - 1px){
				display: none;
			}
			.schedule__item-inner{
				opacity: 0;
			}
		}

	}

	.slick-track{
		margin: 0;
	}

	&__days{
		//margin: 0 -11px;
		//

		@include breakPoint($breakPointCompact){
			//	margin: 0 -17px;
			overflow: hidden;

		}
		//
		&-item{
			text-align: center;
		}

		&-name{
			font-size: 24px;

			@include breakPoint($breakPointCompact){
				font-size: 16px;
			}
		}

		&-date{
			font-size: 24px;
			color: $colorGrey;
			display: none;

			@include breakPoint($breakPointCompact){
				font-size: 14px;
				display: block;
			}

			.schedule__days-item_current &{
				color: $colorRed;
			}
		}
	}
}








// footer

.footer{

	@include frame('red');
	margin-bottom: 0;
	padding-bottom: 80px;

	&:after{
		display: none;
	}

	@include breakPoint($breakPointCompact){
		font-size: 14px;
		padding-bottom: 0;
	}

	&__main{

		@include breakPoint($breakPointCompact){
			float: left;
		}
	}

	&__logo{
		width: 354px;
		height: 139px;
		@include backgroundSprite(354, 0, $sprite);
		display: block;
		margin: 0 auto 25px;
	}


	&__copy{
		font-size: 24px;
		text-align: center;

		@include breakPoint($breakPointCompact){
			font-size: 14px;
		}
	}


	&__object{

		display: none;

		@include breakPoint($breakPointCompact){
			margin-left: 388px;
			display: block;
		}

		@include breakPoint($breakPointWide){
			margin-left: 770px;
		}

		&-item{
			padding: 45px 0;
			margin-bottom: 45px;

			@include breakPoint($breakPointCompact){
				padding: 0;
				float: left;
				width: 300px;
			}
		}

		&-title{
			font-size: 36px;
			font-weight: 600;
			position: relative;
			margin-bottom: 35px;

			@include breakPoint($breakPointCompact){
				font-size: 30px;
			}

			&:before{
				content: '';
				display: block;
				width: 60px;
				height: 57px;
				top: -12px;
				left: 0;
				position: absolute;

				@include breakPoint($breakPointCompact){
					width: 35px;
					height: 34px;
					top: -8px;
				}
			}
		}

		&-btn{
			margin: 0;


			.btn{
				display: block;
				width: 500px;
				height: 100px;
				color: $colorRedCF;
				font-size: 30px;
				font-weight: 600;
				padding: 14px 30px 0 40px;
				margin: 0 auto;
				position: relative;

				@include breakPoint($breakPointCompact){
					font-size: 16px;
					width: 300px;
					height: 40px;
					margin: 0 0 60px 0;

					&:hover{
						//&:after{
						//	display: block;
						//}

						color: #fff;

						&:before{
							background-position: -1444px -2254px;
						}
					}
				}

				span{
					position: relative;
				}

				&:before{
					content: '';
					position: absolute;
					top: -33px;
					left: -9px;
					display: block;
					width: 538px;
					height: 184px;
					@include backgroundSprite(538, 684, $sprite);

					@include breakPoint($breakPointCompact){
						width: 369px;
						height: 94px;
						top: -23px;
						left: 0px;
						background-position: -1076px -2254px;
					}
				}

				//&:after{
				//	content: '';
				//	position: absolute;
				//	display: block;
				//	width: 180px;
				//	height: 232px;
				//	@include backgroundSprite(309, 139, $sprite);
				//	top: -20px;
				//	right: 0;
				//
				//	@include breakPoint($breakPointCompact){
				//		width: 100px;
				//		height: 129px;
				//		background-position: -389px -555px;
				//		display: none;
				//
				//		top: -43px;
				//		right: -58px;
				//	}
				//}

			}
		}

		&-contact{

			padding-left: 65px;
			position: relative;
			line-height: 1.83;
			padding-right: 40px;
			font-size: 24px;

			@include breakPoint($breakPointCompact){
				padding-left: 50px;
				line-height: 1.5;
				margin-bottom: 20px;
				font-size: 14px;
			}

			&:before{
				content: '';
				width: 41px;
				height: 41px;
				@include backgroundSprite(888, 52, $sprite);
				position: absolute;
				top: 5px;
				left: 0;

				@include breakPoint($breakPointCompact){
					width: 27px;
					height: 27px;
					top: 0px;
					background-position: -929px -34px;
				}

			}

			&-bigtitle{
				//display: none;
				font-size: 30px;
				color: $colorRedDarkCF;
				font-weight: 600;

				@include breakPoint($breakPointCompact){
					font-size: 14px;
					margin-bottom: 5px;
				}
			}

			&-title{
				font-size: 24px;

				@include breakPoint($breakPointCompact){
					font-size: 14px;
				}
			}

			&-phone{
				font-weight: 500;

				span{
					display: block;
					@include breakPoint($breakPointCompact){
						display: inline;

						&:after{
							content: ', ';
						}

						&:last-child{
							&:after{
								display: none;
							}
						}
					}
				}

			}
		}

		&-address{
			padding-left: 65px;
			font-size: 24px;
			position: relative;
			line-height: 1.83;
			padding-right: 40px;

			@include breakPoint($breakPointCompact){
				font-size: 14px;
				padding-left: 50px;
				margin-bottom: 20px;
				line-height: 1.5;
			}

			&:before{
				content: '';
				width: 41px;
				height: 52px;
				@include backgroundSprite(888, 0, $sprite);
				position: absolute;
				top: -5px;
				left: 0px;

				@include breakPoint($breakPointCompact){
					width: 27px;
					height: 34px;
					top: -10px;
					background-position: -929px 0;
				}

			}


			&-bigtitle{
				//display: none;
				font-size: 30px;
				color: $colorRedDarkCF;
				font-weight: 600;

				@include breakPoint($breakPointCompact){
					font-size: 14px;
					margin-bottom: 5px;
				}
			}
		}

		&-socials{
			padding-left: 65px;
			margin-top: 50px;

			@include breakPoint($breakPointCompact){
				padding-left: 0;
				margin-top: 15px;
			}

			&-list{}

			&-item{
				width: 55px;
				height: 45px;
				display: inline-block;
				vertical-align: middle;
				@include backgroundSprite(0, 0, $sprite);
				margin-right: 40px;

				/*@include breakPoint($breakPointCompact){
					width: 35px;
					height: 30px;
					margin-right: 20px;
				}*/

				&:last-child{
					margin-right: 0;
				}

				&:last-child{
					margin-right: 0;
				}

				&_vk{
					background-position: -763px 0 ;

					@include breakPoint($breakPointCompact){
						background-position: -708px 0 ;


						&:hover{
							background-position: -763px 0 ;
						}
					}
				}
				&_fb{
					background-position: -763px -45px ;

					@include breakPoint($breakPointCompact){
						background-position: -708px -45px ;

						&:hover{
							background-position: -763px -45px ;
						}
					}
				}
				&_ig{
					background-position: -763px -90px;

					@include breakPoint($breakPointCompact){
						background-position: -708px -90px;

						&:hover{
							background-position: -763px -90px;
						}
					}
				}
			}
		}
	}
}






[data-tab-target]{
	display: none;

	&.is-active{
		display: block;
	}
}



