

$popupZIndex: 100;
$popupOverlayColorM: #1d1d1d;
$popupOverlayColorD: rgba(29, 29, 29, 0.6);

.popup {

	display: none;

	&.is-open {
		display: block !important;
	}

	&__overlay {
		background-color: $popupOverlayColorM;
		display: block;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: $popupZIndex;

		@include breakPoint($breakPointCompact){
			background-color: $popupOverlayColorD;
		}
	}

	&__inner {
		height: 100%;
		left: 0;
		overflow: auto;
		position: fixed;
		text-align: center;
		top: 0;
		width: 100%;
		z-index: $popupZIndex;
		display: block;
		background: transparent;
		overflow-y: scroll;
		font-size: 0;
		min-width: $minWidth;

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

	}

	&__layout {
		background: url("../img/crossfit/background.png") 50% 0;
		display: inline-block;
		margin: 0 auto;
		padding: 0;
		position: relative;
		vertical-align: middle;
		width: 100%;
		max-width: 780px;
		//min-width: $minWidth;
		min-height: 100px;
		text-align: left;
		font-size: 24px;
		@include box-sizing();
		@include border-radius(4px);


		@include breakPoint($breakPointCompact){
			font-size: 14px;
			margin: 20px 0;
		}
	}

	&__close {
		position: fixed;
		top: 0;
		right: 0;

		height: $headerHeightMobile;
		width: $headerHeightMobile;
		cursor: pointer;

		z-index: 2;

		@include breakPoint($breakPointCompact){
			height: $headerHeightDesktop;
			width: $headerHeightDesktop;
			position: absolute;
			top: 5px;
			right: -70px;
		}

		&:before{
			content: '';
			width: 157px;
			height: 197px;
			@include backgroundSprite(144, 336, $sprite);
			position: absolute;
			top: -5px;
			left: 0;
			pointer-events: none;

			@include breakPoint($breakPointCompact){
				width: 87px;
				height: 109px;
				background-position: -1029px -283px;
			}
		}

		&:after{
			content: '';
			width: 57px;
			height: 57px;
			@include backgroundSprite(57, 525, $sprite);
			position: absolute;
			top: 35px;
			left: 46px;
			pointer-events: none;

			@include breakPoint($breakPointCompact){
				width: 45px;
				height: 45px;
				top: 12px;
				left: 16px;
				background-position: -114px -537px;
			}
		}
	}


	&__content{
		padding: 60px 30px;
		position: relative;

		@include breakPoint($breakPointCompact){
			padding: 60px 30px;
		}
	}


	&__title{
		font-size: 72px;
		font-family: $titleFont;
		margin-bottom: 60px;
		padding-right: 100px;

		@include breakPoint($breakPointCompact){
			font-size: 60px;
			margin-bottom: 50px;
			padding-right: 0;
		}

		span{
			color: $colorRedCF;
		}
	}

	&__text{
		color: $colorGrey;
		margin-bottom: 55px;

		@include breakPoint($breakPointCompact){
			margin-bottom: 25px;
		}
	}

	&__btn{


		.btn{
			display: block;
			width: 500px;
			height: 100px;
			line-height: 100px;
			color: #fff;
			font-size: 30px;
			font-weight: 600;
			text-align: center;
			position: relative;
			cursor: pointer;

			@include breakPoint($breakPointCompact){
				font-size: 16px;
				height: 50px;
				line-height: 50px;
				width: 300px;

				&:hover{

					&:before{
						background-position: -1374px -2152px;
					}
				}
			}

			span{
				position: relative;
				padding-left: 30px;

				@include breakPoint($breakPointCompact){
					padding-left: 0;
				}
			}

			&:before{
				content: '';
				position: absolute;
				top: -33px;
				left: -9px;
				display: block;
				width: 538px;
				height: 184px;
				@include backgroundSprite(0, 684, $sprite);

				@include breakPoint($breakPointCompact){
					width: 299px;
					height: 102px;
					background-position: -1075px -2152px;
					top: -23px;
					left: 0;
				}
			}
		}

	}

	&__form{
		overflow: visible;

		.form{
			margin: 50px 0;

			@include breakPoint($breakPointCompact){
				min-height: 0;
			}

			&:before{
				display: none;
			}

			&__group{

				@include breakPoint($breakPointCompact){
					&:last-child{
						.form__field{
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}


	&__gallery{
		background: $colorBlackCF;

		margin: -60px -30px 0;
		padding: 40px 30px;

		.slick-list{
			overflow: hidden!important;
		}

		.gallery{
			position: relative;

			&__list{
				width: 575px;
				margin: 0 auto;

				@include breakPoint($breakPointCompact){
					width: 644px;
				}

			}

			&__item{

				&-link{
					&:after{
						display: none;
					}
				}
			}

			.slider-control{

				@include breakPoint($breakPointCompact){
					position: static;


					&__arrow{
						position: absolute;
						top: 50%;
						margin-top: -31px;

						&_prev{
							left: 0;
						}

						&_next{
							right: 0;
						}
					}
				}
			}
		}

		@include breakPoint($breakPointCompact){

		}
	}


	&__info{
		padding: 40px 0 0;

		&-title{
			font-size: 48px;
			font-weight: 600;
			margin-bottom: 20px;

			@include breakPoint($breakPointCompact){
				font-size: 30px;
				margin-bottom: 10px;
			}
		}

		&-subtitle{
			font-weight: 600;
			font-size: 24px;
			color: $colorRedCF;
			margin-bottom: 50px;

			@include breakPoint($breakPointCompact){
				font-size: 16px;
				margin-bottom: 30px;
			}

		}
		&-listtitle{
			font-size: 18px;
			color: $colorGreyCF;
			margin-top: 40px;
			margin-bottom: 25px;

			@include breakPoint($breakPointCompact){
				font-size: 12px;
				margin-top: 25px;
				margin-bottom: 15px;
			}
		}

		li{
			position: relative;
			padding-left: 40px;
			margin-bottom: 20px;

			@include breakPoint($breakPointCompact){
				padding-left: 22px;
				margin-bottom: 10px;
			}


			&:before{
				content: '';
				position: absolute;
				top: 2px;
				left: 0;
				width: 22px;
				height: 22px;
				@include backgroundSprite(44, 395, $sprite);

				@include breakPoint($breakPointCompact){
					width: 14px;
					height: 14px;
					top: 0;
					background-position: -94px -395px;
				}
			}
		}


		&-graph{

			position: relative;

			&:before{
				content: '';
				display: block;
				position: absolute;
				@include backgroundSprite(0, 2481, $sprite);
				width: 1049px;
				height: 390px;
				top: 0;
				left: -160px;

				@include breakPoint($breakPointCompact){
					width: 1074px;
					height: 241px;
					background-position: 0 -2973px;
					top: -25px;
					left: -175px;
				}

			}

			&-list{
				font-size: 0;
				text-align: center;
				margin: 50px 0;
				position: relative;
			}

			&-item{
				width: 50%;
				display: inline-block;
				@include box-sizing();
				padding: 0 10px;
				vertical-align: top;

				@include breakPoint($breakPointCompact){
					width: 25%;
				}
			}
			&-num{
				font-family: $titleFont;
				font-size: 90px;
				color: $colorRedCF;

				@include breakPoint($breakPointCompact){
					font-size: 60px;
				}
			}
			&-val{
				font-family: $titleFont;
				font-size: 45px;
				color: $colorRedCF;

				@include breakPoint($breakPointCompact){
					font-size: 30px;
				}
			}
			&-text{
				vertical-align: middle;
				padding: 20px 0;
				font-size: 24px;

				@include breakPoint($breakPointCompact){
					font-size: 18px;
					width: 500px;
					display: table-cell;
					height: 20px;
				}
			}
		}

		&-soc{
			&-item{
				margin-right: 50px;
				display: inline-block;

				@include breakPoint($breakPointCompact){
					margin-right: 40px;

					&:hover{
						color: $colorRedCF;
						text-decoration: underline;
					}
				}

				&:before{
					content: '';
					display: inline-block;
					vertical-align: middle;
					width: 55px;
					height: 45px;
					@include backgroundSprite(0, 0, $sprite);
					margin-right: 20px;

					@include breakPoint($breakPointCompact){
						width: 35px;
						height: 30px;
						margin-right: 10px;
					}
				}

				&_vk{
					&:before{
						background-position: -956px 0;
					}

					@include breakPoint($breakPointCompact){
						&:before{
							background-position: -818px 0;
						}

						&:hover{
							&:before{
								background-position: -853px 0;
							}
						}
					}
				}
				&_fb{
					&:before{
						background-position: -956px -45px;
					}

					@include breakPoint($breakPointCompact){
						&:before{
							background-position: -818px -30px;
						}

						&:hover{
							&:before{
								background-position: -853px -30px;
							}
						}
					}
				}
				&_ig{
					&:before{
						background-position: -956px -90px;
					}

					@include breakPoint($breakPointCompact){
						&:before{
							background-position: -818px -60px;
						}

						&:hover{
							&:before{
								background-position: -853px -60px;
							}
						}
					}
				}
			}
		}



		&-btn{
			margin-top: 60px;

			@include breakPoint($breakPointCompact){

			}

			.btn{
				display: block;
				width: 570px;
				height: 100px;
				line-height: 100px;
				color: #fff;
				font-size: 30px;
				font-weight: 600;
				text-align: center;
				margin: 0 auto;
				position: relative;
				cursor: pointer;

				@include breakPoint($breakPointCompact){
					font-size: 16px;
					height: 50px;
					line-height: 50px;
					width: 400px;

					&:hover{

						&:before{
							background-position: -409px -2871px;
						}
					}
				}

				span{
					position: relative;

					@include breakPoint($breakPointCompact){

					}
				}

				&:before{
					content: '';
					position: absolute;
					top: -33px;
					left: -22px;
					display: block;
					width: 617px;
					height: 184px;
					@include backgroundSprite(1076, 684, $sprite);

					@include breakPoint($breakPointCompact){
						width: 409px;
						height: 102px;
						background-position: 0 -2871px;
						top: -23px;
						left: 0;
					}
				}
			}
		}

	}

	&__member{
		margin: 100px 0 0;

		.member{
			&__item{

				width: 100%!important;
				padding: 0;

				&-image{
					margin-left: auto;
					margin-right: auto;

					@include breakPoint($breakPointCompact){
						float: left;
					}
				}

				&-title{

					@include breakPoint($breakPointCompact){
						margin-left: 370px;
						padding-top: 30px;
					}
				}

				&-text{

					@include breakPoint($breakPointCompact){
						margin-left: 370px;
					}
				}

				&:before{
					content: '';
					display: block;
					position: absolute;
					@include backgroundSprite(0, 2481, $sprite);
					width: 1049px;
					height: 390px;;
					top: -100px;
					left: -160px;

				}
			}
		}
	}

	&_member{

		.popup{
			&__layout{
			}

			&__content{
				overflow: hidden;
			}
		}
	}

	&_staff{

		.popup{
			&__layout{
			}

			&__content{
				overflow: hidden;
			}
		}
	}

}


#popupSubscribeDone{
	.popup__layout{
		&:before{
			content: '';
			@include backgroundSprite(1488, 2348, $sprite);
			position: absolute;
			right: 25px;
			bottom: 0;
			width: 412px;
			height: 275px;
		}
	}
}

